#A_propos_box {
    position: relative;
    width: auto;
    height: 223px;
    margin: 20px;
}

.A_propos_header {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.a_propos_body {
    height: fit-content;
}
.Apropos_dropdowns {
    margin: 0px 20px 20px 20px;
}
.Apropos_info {
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 30px;
}
.Apropos_info>p {
    color: white;
    font-size: 13px;
    margin: 7px 0px 0px 11px;
    margin-left: 11px;
    
}
.Apropos_chevron {
    margin-top: 10px;
    margin-right: 10px;
    height: 10px;
    width: 16px;
}

@media screen and (min-width:768px) {
    #A_propos_box {
        margin: 44px 100px 20px 100px;
    }

    .A_propos_header {
        border-radius: 25px;
    }
    
    .Apropos_dropdowns {
        margin: 0px 208px 30px 208px;
    }
    .Apropos_info {
        height: 47px;
    }
    .Apropos_info>p {
        font-size: 24px;
        margin: 8px 0px 0px 18px;
    }    
    .Apropos_chevron {
        margin-top: 16px;
        margin-right: 33px;
        height: 15px;
        width: 24px;
    }
}
