#lodging_body {
    color: #FF6060;
    font-weight: 500;
}

.picture {
    margin: 27px 20px 15px 20px;
    height: 255px;
    background: #C4C4C4;
    border-radius: 10px;
}

#lodging_infos {
    margin: 0px 20px 20px 20px;
}

#lodging_infos>h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#lodging_infos>p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* #lodging_tags {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
    font-size: 10px;
    margin-bottom: 16px;
}

.lodging_tag {
    width: 84px;
    height: 18px;
    background: #FF6060;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    text-align: center;
} */

#lodging_rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
/* .stars {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}
.star {
    max-height: 15px;
    max-width: 15px;
    margin-top: 10px;
}
.grey path {
    fill: #E3E3E3;
} */

.lodging_host {
    display: flex;
    align-items: flex-end;
}
.host_identity {
    font-size: 12px;
    margin-right: 10px;
}
.host_picture {
    background: #C4C4C4;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.infos {
    margin: 0px 20px 0px 20px;
}
.dropdowns {
    margin-bottom: 20px;
    width: 100%;
}
.dropdown {
    background: #FF6060;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.dropdown>p {
    margin: 0px;
}
.chevron {
    margin-top: 15px;
    margin-right: 10px;
    max-height: 9px;
    max-width: 16px;
}
.text_dropdown {
    background: #F7F7F7;
    font-size: 12px;
    border-radius: 5px;
    font-size: 12px;
    color: #FF6060;
    padding: 20px 10px 10px 10px;
    margin: 0px;
}


@media screen and (min-width:992px) {
    .picture {
        margin: 20px 100px 30px 100px;
        height: 415px;
        background: #C4C4C4;
        border-radius: 25px;
    }
    
    #lodging_infos {
        margin: 0px 100px 0px 100px;
        width: auto;
        display: flex;
        justify-content: space-between;
    }
    #lodging_infos>h2 {
        font-size: 36px;
        margin-bottom: 5px;
    }
    #lodging_infos>p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    /* #lodging_tags {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .lodging_tag {
        width: 115px;
        height: 25px;
        border-radius: 10px;
    } */
    
    #lodging_rate {
        /* width: 30%; */
        margin-bottom: 15px;
        display: flex;
        flex-direction: column-reverse;
    }
    /* .stars {
        justify-content: end;
        width: auto;
    }
    .star {
        max-height: 30px;
        max-width: 30px;
    }     */
    
    .lodging_host {
        display: flex;
        justify-content: flex-end;
    }
    
    .host_identity {
        font-size: 18px;
        margin-right: 10px;
    }
    .host_picture {
        background: #C4C4C4;
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }

    .infos {
        margin: 0px 100px 0px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dropdowns {
        width: calc(50% - 3%);
        margin-bottom: 20px;
    }
    .dropdown {
        font-size: 18px;
        border-radius: 10px;
        height: 52px;
    }
    .dropdown>p {
        padding-top: 7px;
    }
    .chevron {
        margin-top: 10px;
        margin-right: 12px;
        max-height: 16px;
        max-width: 27px;
    }
}