#lodging_body {
    color: #FF6060;
    font-weight: 500;
}

.picture {
    margin: 27px 20px 15px 20px;
    height: 255px;
    background: #C4C4C4;
    border-radius: 10px;
}

#lodging_infos {
    margin: 0px 20px 20px 20px;
}

#lodging_infos>h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#lodging_infos>p {
    font-size: 14px;
    margin-bottom: 10px;
}

#lodging_tags {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
    font-size: 10px;
    margin-bottom: 16px;
}

.lodging_tag {
    width: 84px;
    height: 18px;
    background: #FF6060;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    text-align: center;
}

#lodging_rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.stars {
    color: #FF6060;
    font-size: 15px;
}
.stars>.grey {
    color: #E3E3E3;
}

.lodging_host {
    display: flex;
    align-items: flex-end;
}
.host_identity {
    font-size: 12px;
    margin-right: 10px;
}
.host_picture {
    background: #C4C4C4;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.infos {
    margin: 0px 20px 0px 20px;
}
.dropdown {
    background: #FF6060;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.dropdown>p {
    margin: 0px;
}
.chevron {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}


@media screen and (min-width:768px) {
    .picture {
        margin: 20px 100px 30px 100px;
        height: 415px;
        background: #C4C4C4;
        border-radius: 25px;
    }
    
    #lodging_infos {
        margin: 0px 100px 0px 100px;
        display: flex;
        justify-content: space-between;
    }
    #lodging_infos>h2 {
        font-size: 36px;
        margin-bottom: 5px;
    }
    #lodging_infos>p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #lodging_tags {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .lodging_tag {
        width: 115px;
        height: 25px;
        border-radius: 10px;
    }
    
    #lodging_rate {
        width: 30%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column-reverse;
    }
    .stars {
        font-size: 30px;
    }
    
    .host_identity {
        font-size: 18px;
        margin-right: 10px;
    }
    .host_picture {
        background: #C4C4C4;
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }

    .infos {
        margin: 0px 100px 0px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dropdown {
        font-size: 18px;
        border-radius: 10px;
        width: calc(50% - 5%);
        height: 52px;
        margin-bottom: 20px;
    }
    .dropdown>p {
        padding-top: 7px;
    }
    .chevron {
        font-size: 40px;
        margin-right: 12px;
    }
}